#p_about {
  padding-top: 40px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: Courier;
  font-size: 16px;
}
p {
  font-family: Courier;
  font-size: 16px;
}
h2 {
	font-family: Verdana;
	font-weight: bold;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
	color: #acd1b2;
}
span {
  color: #cc0000;
  font-size: 24px;
}
#navbar {
  position:fixed;
  top:10px;
  left:50%;
  margin-left: -254px;
}
#header {
  position: relative;
  top: 40px;
  background-color: #3c4543;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
li {
	display: inline;
	border: 2px solid #000000;
	font-family: Futura, Tahoma, sans-serif;
	color: #ffffff;
	padding: 5px;
	border-radius: 5px 5px;
	background-color: #cc9323
}
ul{
	list-style-type: none;
	position: fixed;
	margin: -1px;
  margin-left: 20px;
}
p1 {
  font-family: Times;
  font-size: 18px;
}

#redobject {
  background-color: #cc0000;
  height: 100px;
  width: 100px;
}
#td {
  height: 50px;
  border: 1px dashed blue;
  border: 1px solid black;
}
img {
  border: 1px solid #4682b4;
  height: 100px;
  width: 300px;
  position: left;
}
/* Creating a Button */
#button {
  height:50px;
  width:120px;
  background-color: #BCD2EE;
  border-style: 2px black solid;
  border-color: #BCD2EE;
  border-radius: 5px;
  margin:auto;
  text-align: center;
}
.fancy {
  font-family: cursive;
  color: #0000CD;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
#navbar a:hover {
  color: #cc0000;
  background-color: #acd1b2;
	font-weight: bold;
	text-decoration: none;
}
